<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReviewUs@MentorConnects</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-ZfZ6f/+86srxWXcEF+ZUr9zawxyb8SkE4h+6BMBi7BFoBcrQo+zsMcb/lmx7tJ0oV8mPRZ5wyg0xftya36f7jQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}"> 
	<link rel="stylesheet" href="/frontend/auth.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}"> 
	<link rel="stylesheet" href="/frontend/auth.css">
</head>
<body>
     {% if message %}
    <div class="success-message">{{ message }}</div>
    {% endif %} 
    

    

<div class="reviewcontainer" id="reviewcontainer">
    <div class="reviewform-container reviewus-container">
        <form action="{{ url_for('reviewus') }}" method="post">
            <h1 style="color: #357CA5;">Review Us!</h1> <br>
            <div class="msg">{{ msg }}</div>
            <div class="msg">{{ msg }}</div>
           <div class="msg">{{ message }}</div>
            <input id="username" name="username"  type="text" placeholder="Username" autocomplete="off"/>
            {% if 'id' not in session %}
            <input id="email" name="email" type="email"  placeholder="Email" autocomplete="off"/>
            {% endif %}
            <textarea id="review" name="review" placeholder="Write us a review - max length allowed: 250 words" autocomplete="off" style="height: 100px; width: 280px; padding: 10px;" maxlength="250"></textarea>

            <!--<textarea id="message" name="message" placeholder="Your Message"></textarea>
            -->
            <br>
            <button type="submit">Submit Review!</button>
            <a href="{{ url_for('home') }}"  style="color: #357CA5; text-decoration: none;">Back home</a>
        </form> 
    </div>
   
    

</div>

</body>
</html>
